.image-info {
  text-align: center;
  color: #7f8c8d;
  font-size: 9px;
  letter-spacing: 2px;
  min-height: 25px;
  text-transform: uppercase;
  background-color: #a2cbb6 !important;
  display: block;
  padding: 4px;
  margin-bottom: 5px;
  line-height: 1.42857143;
  width: 76%;
  margin-left: 12%;
  border-radius: 0px !important;
  border: none !important;
}

.delete-image {
  cursor: pointer;
}

.delete-image:hover {
  text-decoration: none;
}

.thumbnail{
  width: 76%;
  margin-left: 12%;
  background-color: #a2cbb6;
  border: none;
  border-radius: 0px;
  margin-top: 1%;
}

.image-details{
  position: relative;
  color: black;
  top: 4px;
}

.topic-information{
  color: #a7ebae;
  text-align: center;
  margin-left: 12%;
  letter-spacing: 2px;
}

.topic-text{
  margin-left: 9%;
  color: #e8dc55;
}