<template name="dropzone">
	<div class="drop-style"> 
	  <div class="row">
	    <div class="col-md-12">
	    <!-- This id and class name call the dropzone from the given package
	         Package used was raix:ui-dropped -->
	      <div id="dropzone" class="dropzone">
	        <div class="well well-drop-zone">
	          <span class="drop-text">Drop upload here!</span>
	         		 <form>
			    		<a href="#" id="browse">Browse</a>
				    		<div id="wrapper">
				        		<input id="file-upload-input" size="1" type="file" />
				    		</div>
		  			</form>
	           </div>
	      </div>
		
		 <!--  <form>
    		<a href="#" id="browse">Browse </a>
	    		<div id="wrapper">
	        		<input id="file-upload-input" size="1" type="file" />
	    		</div>
		  </form> -->

		<!-- <button type="button"  class="btn btn-upload upload-btn">Upload Fam</button> -->
		<!-- <input type="file" id="file-upload-input" class="upload-input"> -->
	    </div>
	  </div>
	</div>
</template>